

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
}


body {
    background-color: #000;
    font-family: 'Inter';
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

.app-screen {
    width: 600px;
    /* height: 1000px; */
    background-color: #fff;
    margin: 0 auto;
    min-height: 100vh;
}


button {
    cursor: pointer;
}




/* INPUT */
.search-input {
    width: 300px;
        border-radius: 6px 0px 0px 6px;
border: 1px solid #D1D5DB;
padding-left: 3em;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);




}
.search-btn {
    padding: 0 2em;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);


}
.fa-search {
    position: absolute;
    top: 50%;
    padding-left: 1em;
    transform: translateY(-50%);
    color: rgb(223, 225, 229);
}

/* HEADER */
.header {

}

/* MAIN */
.hero {
    background-color: #000;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg.webp");

    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 3em;
    padding-top: 3em;

    

}
.hero__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__input {
    display: flex;
    justify-content: center;
    width: 450px;
    margin: 0 auto;
    height: 38px;
    position: relative;
    transform: translateY(50%);
        margin-top: 2em;

}
.hero__title {
    font-size: 42px;
    font-weight: 800;
}
.hero__link {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: none;
    border: none;
}

.display {
    padding: 1em 2.5em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 70vh; */
}


/* FOOTER */
.footer {

}







/* MOVIE CARD */

.movie__card {
    
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 1em 2.5em; */
    gap: 1.5em;

    padding: 1.2em 0;
    border-bottom: 1px solid #ccc;


}




.movie__info {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* border: 1px solid #ccc; */
    gap: .6em;

}

.movie__main {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;

}


.movie__sub {
    display: flex;
    justify-content: start;
    gap: .8em;
    align-items: center;
}



.movie__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}
.movie__year {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
.movie__poster {
    width: 100px;
}
.movie__runtime {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.movie__genre {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.movie__plot {
    font-size: 14px;

}
.movie__rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.movie__rating:before {
    content: url('images/icon-star.png');
}


.movie__wl {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.movie__wl:before {
    content: url('images/icon-add-dark.png');
    display: inline-block;
    align-items: center;
    text-align: center;
    height: 6px;

}




.default-sub {
    color: #000;
    margin-top: .3em;
    display: inline-block;

}
.add-icon {
    display: inline-block;
    width: 16px;
}
.default-message {
    color: #DFDDDD;
    font-weight: bolder;
    text-align: center;
    padding-top: 5em;
    width: 360px;
}
.movie-icon {
    width: 60px;
    margin-bottom: .3em;
    cursor: pointer;
}