@import "../../App.scss";



.MovieCard {
  display: flex;
  gap: 1.2em;
  padding: 1.4em 0;
  overflow: hidden;

  justify-content: space-between;
  // align-items: center;

  border-bottom: 1px solid var(--clr-hr);
  // border: 1px solid red;
  width: 100%;
}




.movie-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0.6em;
  max-width: 65%;
}

.movie-main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}

.movie-sub {
  display: flex;
  justify-content: start;
  gap: 0.8em;
  align-items: center;
}



.movie-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}
.movie-year {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
.movie-poster {
  width: 100px;
  height: 150px;
}
.movie-runtime {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.movie-genre {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.movie-plot {
  font-size: 14px;
  line-height: 20px;
  margin-top: -0.4em;
  /* text-overflow: ellipsis; */
  color: var(--clr-fontAccent);
  max-width: 100%;
}
.movie-rating {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.movie-wl {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.star {
  color: #fec654;
  font-size: 0.8rem;
}

.btn-wl {
  color: var(--clr-font);
  cursor: pointer;
  margin: 0.5em;

  background-color: inherit;
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4em;
  font: inherit;
  font-size: 0.8rem;
  transition: all 200ms;
}

.btn-wl i {
  font-size: 16px;
}

.btn-wl:hover {
  color: var(--clr-fontAccent);
}

/* .btn-wl:hover {
  color: #FEC654;
} */


@media screen and (max-width: $mobile-width) {
  .movie-sub {
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
    



    .movie-runtime {
      order: 1;
    }
    .movie-genre {
            width: 100%;
      order: 3;
    }
    .btn-wl {
      order: 2;
    }
  }
}
