@import "../../App.scss";

.MovieCard {
  display: flex;
  gap: 1.2em;
  padding: 1.4em 0;
  overflow: hidden;
  border-bottom: 1px solid var(--clr-hr);
  width: 100%;
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0.6em;
  max-width: 90%;
}

.movie-main {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}

.movie-sub {
  display: flex;
  justify-content: start;
  gap: 0.8em;
  align-items: center;
}

.movie-title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}

.movie-year,
.movie-genre,
.movie-runtime,
.movie-rating,
.movie-wl {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 20px;
}

.movie-year {
  font-weight: 500;
}
.movie-poster {
  min-width: 100px;
  width: 100px;
  height: 150px;
  background-color: rgba(100, 100, 100, 0.25);
  object-fit: cover;
}
.error {
  object-fit: scale-down;
}

.movie-plot {
  font-size: 0.9rem;
  line-height: 20px;
  margin-top: -0.4em;
  max-width: 100%;
  color: var(--clr-fontAccent);
}

.star {
  color: #fec654;
  font-size: 0.8rem;
}

.btn-wl {
  color: var(--clr-font);
  cursor: pointer;
  margin: 0.5em;

  background-color: inherit;
  border: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4em;
  transition: all 200ms;

  p {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.btn-wl:hover {
  color: var(--clr-fontAccent);
}

@media screen and (max-width: $mobile-width) {
  .movie-sub {
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;

    .movie-runtime {
      order: 1;
    }
    .movie-genre {
      width: 100%;
      order: 3;
    }
    .btn-wl {
      order: 2;
    }
  }
}
