

$mobile-width: 767px;
$mobile-height: 1200px;


:root {
  --clr-bg: #121212;
  --clr-font: #ffffff;
  --clr-fontAccent: #a5a5a5;
  --clr-hr: #e5e7eb;
  --clr-searchBg: #2e2e2f;
  --clr-searchBtn: #4b4b4b;
}





.App {
  width: 600px;
  /* height: 1000px; */
  background-color: var(--clr-bg);
  color: var(--clr-font);
  margin: 0 auto;
  min-height: 100vh;
  font-size: 16px;
      overflow-x: hidden;

}

/* HEADER */
.header {
}

/* MAIN */
.Header {
  background-color: #000;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/bg.webp");

  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 3em;
  padding-top: 3em;
  min-height: 200px;
}
.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-input {
  display: flex;
  justify-content: center;
  width: 450px;
  margin: 0 auto;
  height: 38px;
  position: relative;
  transform: translateY(50%);
  margin-top: 2em;
}
.header-title {
  font-size: 42px;
  font-weight: 800;
}
.header-link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: none;
  border: none;
}

.display {
  padding: 1em 2.5em;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 70vh; */
}

/* FOOTER */
.footer {
}

.default-sub {
  color: #000;
  margin-top: 0.3em;
  display: inline-block;
}
.add-icon {
  display: inline-block;
  width: 16px;
}

.default-message {
  color: #dfdddd;
  font-weight: bolder;
  text-align: center;
  padding-top: 5em;
  width: 360px;
}
.movie-icon {
  width: 60px;
  margin-bottom: 0.3em;
  cursor: pointer;
}

.theme-btn {
  background-color: inherit;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  width: 40px;
  transition: text-shadow 0.2s;
  cursor: pointer;
}
.theme-btn:hover {
  text-shadow: 0 0 15px white;
}



/* INPUT */
.SearchBar {
  /* display: none; */
  height: 40px;
  font-size: 14px;
  margin: 0 auto;
  transform: translateY(-50%);
  width: fit-content;

}
.SearchBar i {
  transform: translateX(200%);
  color: var(--clr-fontAccent);
}

.search-input {
  width: 300px;
  border-radius: 6px 0px 0px 6px;
  padding-left: 3em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  height: 100%;
  background-color: var(--clr-searchBg);
  border: none;
  border: 1px solid var(--clr-hr);
      color: var(--clr-font);

}
.search-btn {
  padding: 0 2em;
  border-radius: 0px 6px 6px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  height: 100%;
  width: 120px;
  background-color: var(--clr-searchBtn);
  border: none;
  border: 1px solid var(--clr-hr);
  transition: background-color 200ms;
  color: var(--clr-font);
}
.search-btn:hover {
  background-color: var(--clr-hr);
}
.fa-search {
  position: absolute;
  top: 50%;
  padding-left: 1em;
  transform: translateY(-50%);
  color: rgb(223, 225, 229);
}

.results-text {
    color: var(--clr-fontAccent);
}


.movie-list {
    padding: 1em 2em;
}

.movie-list > :not(:last-child) {
    border-bottom: 1px solid var(--clr-hr);
}





@media screen and (max-width: $mobile-width) {
  .App {
    width: 100%;
  }
  .movie-list {
    padding: 1em;

  }
  .header-input {
    width: 100%;
  }
  .header-title {
    font-size: 32px;
  }
  
  
  .SearchBar {
    width: 100%;

  }
  .search-input {
    width: 60%;
  }
  .search-btn {
    width: 20%;
  }


}
