* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #080808;
  font-family: "Inter";
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
button {
  font-family: inherit;
}
input:focus {
  outline: none;
}
